.contact-us,
.contact-us * {
  box-sizing: border-box;
}
.contact-us {
  background: #ff3030;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 38px;
  width: 316px;
  height: 137px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 735px;
  top: 38px;
  width: 316px;
  height: 159px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 1011px;
  top: 38px;
  width: 316px;
  height: 98px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 1194px;
  top: 38px;
  width: 221px;
  height: 98px;
}
.contact-us2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 155px;
  top: 233px;
  width: 1131px;
  height: 208px;
}
.reach-out-to-the-course-team-for-support-or-inquireies-professor-c-ontact-paul-t-s-hapiro-pshapiro-umd-edu-ta-contact-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevera-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 173px;
  top: 337px;
  width: 952px;
  height: 332px;
}
